:root {
	--clr-primary: #58B7ED;
	--clr-secondary: #fff;
}


*{
	margin: 0;
	padding: 0;
}

*,
*:before,
*after{
	box-sizing: border-box;
}
	
body {
	font-family: 'Poppins', sans-serif;
}	

.app {
	width: 100%;
	height: 100vh;
	background-color: #58B7ED;

	display: flex;
	justify-content: center;
}

.game {
	width: 450px;
	align-items: center;
	text-align: center;
}

.game__title {
	color: var(--clr-secondary);
}

.turn {
	display: flex;
	justify-content: space-between;

	margin-bottom: 20px;
	padding: 8px 8px;

	border-radius: 5px;

	font-size: 46px;
	font-weight: 500;
	line-height: 1;
	color: var(--clr-primary);
	background-color: var(--clr-secondary);
}

.turn__inner {
	display: inline;
	vertical-align: middle;
	padding: 10px 16px;

	border-radius: 5px;
	transition: background-color .3s linear;
}

.turn__inner.active {
	background-color: var(--clr-primary);
	color: var(--clr-secondary);
}


.grid {
	display: grid;
	justify-content: center;
	grid-template-columns: 135px 135px 135px;
	grid-template-rows: 125px 125px 125px;
	column-gap: 7px;
	row-gap: 7px;

	margin-bottom: 20px;
}

.grid__item {
	display: flex;
	justify-content: center;
	align-items: center;

	background: white;
	color: #58B7ED;
	font-size: 54px;
	font-weight: 500;

	border-radius: 5px;

	transition: border .2s linear;
}

.grid__item:hover {
	cursor: pointer;
}


.actions {
	display: flex;
	justify-content: center;
	gap: 30px;
}

.btn {
	font-size: 0;
	color: transparent;

	background: none;
	border: none;
	cursor: pointer;

	height: 50px;
	width: 50px;
}

.btn--restart {
	background: url("icons/refresh.svg");
}

.btn--undo {
	background: url("icons/undo.svg");
}


.modal {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;

	height: 100vh;
	width: 100%;
	background-color: rgba(0, 0, 0, .8);
	background-color: rgba(88,183,237, .8);

	display: flex;
	justify-content: center;
	align-items: center;

	transition: transform .2s ease-out;
	transform: scale(1);
}

.modal--winner {
	display: none;
	transform: scale(.1);
}

.modal__inner {
	height: 160px;
	width: 370px;
	background-color: #fff;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	border-radius: 5px;
	padding: 30px;
}

.modal--select {
	height: 210px;
}

.modal__header {
	border-bottom: 1px solid #EEEDEE;
	width: 100%;
}

.modal__title {
	margin-bottom: 20px;
	font-size: 30px;
}

.modal__subtitle {
	font-weight: 500;
	margin: 30px 0;
}

.modal__btn {
	display: inline;
	padding: 15px 30px;

	background-color: var(--clr-primary);
	border: none;
	border-radius: 5px;
	color: var(--clr-secondary);
	font-weight: 700;
	font-size: 18px;
	transition: 
		color .2s linear,
		border .2s linear
}		

.modal__btn:hover {
	border-radius: 10px;
	cursor: pointer;
	color: #000;
}

.modal__actions {
	width: 100%;
	display: flex;
	justify-content: space-around;
}